.user {
  font-weight: 500;
}

.reply {
  color: #5357b6;
  cursor: pointer;
}

.card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  display: flex;
  margin-bottom: 20px;
  flex-direction: row;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}
